/* Login */

.left-size {
    width: 60% !important;
}

.right-size {
    width: 40% !important;
}

.no-left-right-padding {
    padding-left: 0em !important;
    padding-right: 0em !important;
}

.fullscreen {
    width: 100% !important;
    height: 100% !important;
}

div h1 {
    width: 100%;
    left: 12%;
    top: 9%;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    line-height: 85px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}


/* Rectangle 2 */

#create-room-button {
    background: #4811AE !important;
}

#right-segment {
    height: 100%;
    width: 100%;

    background-color: #2C0571 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15em !important;
}


/* Rectangle 4 */

#left-segment {
    height: 100%;
    width: 100%;

    background: linear-gradient(0deg, #492A82 0%, #2C0571 100%);
    box-shadow: 0px 0px 0px !important;
    border: 0px !important;
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    padding-bottom: 14em !important;
}

.login-input > label {
    color: #FFFFFF !important;
    font-size: 1.45em !important;
    padding-left: 0.8em;
}

#right-segment > h1 {
    top: 15%;
    line-height: 1.6em;
    font-size: 3em;
}


/* Rectangle 10 */


button {
    background: #FFFFFF !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25) !important;
    border-radius: 16px !important;

    font-family: 'Red Hat Display' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 2em !important;
    line-height: 18px !important;
    text-align: center !important;
    letter-spacing: 0.05em !important;

    color: #4811AE !important;
}

form > button {
    margin-top: 0.5em !important;
    margin-right: 0em !important;
    position: relative;
    width: 40%;
    height: 25%;
    left: 30%;

}


/* Rectangle 8 */
div > .ui.button.auth-action2  {
    position: relative;
    width: 50%;
    left: 25%;

    background: linear-gradient(90deg, #7945D6 0%, #926CD6 100%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}



/* Rectangle 5 */

input {
    background: linear-gradient(90deg, #7945D6 0%, #926CD6 100%) !important;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.25) !important;
    font-size: 1.4em !important;
    margin-right: 0.5em !important;
}


