.call-room-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.notify-text {
    padding-left: 0.5em;
    font-size: 1.3em;
    color: #FFFFFF;
}
